@tailwind base;
@tailwind components;
@tailwind utilities;

.image-background-fill {
   background: url("/placeholder-image.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
